body{

  }

#banner{
  width: auto;
  height: 144px;
  position: relative;
  background-position: center;


}

h1{
  text-align: center;
}



#contenido{
background-color: blue;
width: 600px;
display: block;
margin: auto;

}

#imagen1{
  float: left;
  width: 250px;
  height: 200px;
  background: red;
  margin: 25px;
}

#texto{
  width: 250px;
  height: 200px;
  margin:25px;
  float: right;
  text-align: justify center;
}


#formulario{
float: left;
width: 250px;
height: 200px;
margin: 25px;
background: brown;
}

form{
  margin-top: auto;
  text-align: center;
  padding-top: 5px;
}

#imagen2{
  float: right;
  width: 250px;
  height: 200px;
  background-color: Red;
  margin: 25px;
}
